.colorpixelhome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.colorpixelloaderhome {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    color: dimgray;
    font-size: 5rem;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}

.colorpixelloaderhome:before {
    content: "Comming Soon...";
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}


.links {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #696969;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    transition: background-color 0.3s ease;
  }


.links:hover {
    background-color: #342d2d;
  }
  