.Footer{
  background-color: dimgray;
  color: white;
  margin-top: 100px;
  padding-top: 50px;
}

.Columns{
  width: 33%;
  padding: 0 15px;

}

.container {
  display: flex;
  flex-direction: column;
}

.FooterHeading{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

body {
  height: 36vh;
  display: flex;
  flex-direction: column;
}

.morecategoties {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.categories{
  color: white;
  text-decoration: none;
}

.categories:hover{
  color: white;
  text-decoration: underline;
}