@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.Heading .quotebox {
    font-family: "Josefin Sans", sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.Heading {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bn32 {
    border-color: dimgray;
    padding: 8px 30px;
    cursor: pointer;
    color: dimgray;
    background-image: linear-gradient(45deg, transparent 50%, dimgray 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    border-radius: 10px;
}

.bn32:hover {
    color: antiquewhite;
    background-position: 100%;
}

.btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#randomquotescopybtn {
    margin-top: 20px;
}

.quotebox {
    margin-top: 10px;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 15px;
    animation: colors 2s infinite;
}

@keyframes colors {
    0%{
        background-color: antiquewhite;
        color: dimgray;
    }
    50% {
        background-color: dimgray;
        color: antiquewhite;
    }
    100%{
        background-color: antiquewhite;
        color: dimgray;
    }
}
